numpy
numpyencoder
ipython
astropy
fitsio
regions
future
scipy
scikit-learn
pyparsing
matplotlib
scikit-image
opencv-python
imutils
h5py
imgaug
Pillow
cython
mpi4py
tensorflow
tensorflow_addons
tqdm
image-classifiers
efficientnet
